<html>
<head>
<style type="text/css">
html, body { font-family: arial, sans-serif; margin: 0; padding: 0; }
a { font-weight: bold; text-decoration: none; color: #00f; }
a:visited { color: #639; }
</style>
</head>
<body>
<a target=_top rel=nofollow href="{{ bucky_url|escape }}">
<img {{ bucky_size }} src="{{ url|escape }}" title="{{ title|escape }}" border=0>
</a><br>
<small>
{% if author_name %}
by <a href="{{ author_url|escape }}" target=_top>{{ author_name|escape }}</a>
{% endif %}
<span style="color: #999;">
{% if provider_name %}
{{ provider_name|escape }}
{% endif %}
</span>
</small>
</body>
</html>
